<!--
    ========================================================================================================================
    ; Title: about.component.html
    ; Author: Caitlynne Johnson
    ; Bellevue University
    ; Date: 7/12/23
    ; Description: About component
    ========================================================================================================================
-->

<div fxLayout="row wrap">
    <div fxFlex>
      <div fxLayout="column">
        <div>
          <img src="./assets/loanappheader.png" height="400" />
        </div>
        <div>
          <em>
            Logo Credit to
            <a
              class="attribution-link"
              href="https://www.canva.com/"
              target="_blank"
              >Canva</a
            >
          </em>
        </div>
      </div>
    </div>
  
    <div fxFlex>
      <h1 class="blue">About Us</h1>
      <p>
        Evermore Loan Application was founded by Draco Malfory when he discovered that he did not know how to properly calculate a loan after his seven years of education at Hogwarts School of Witchcraft and Wizardry. This was a problem for him, and he assumed it was a problem for others as well, so he started intensely researching the best way to calculate a loan. After a year, he developed what he describes as the “most perfect Loan Formula ever.” Soon after developing his loan formula, he built Evermore Loan Application. 
        <br />
        <br />
        The goal of Evermore is to help wizards and muggles alike with their loans. If you have ever felt lost or frustrated with a loan, we are here to help you with our multiple experts who have tons of experience in this field. Let us take your frustrations and confusions and get rid of them. Our loan calculator is available for anyone to use, just simply input your loan amount, the interest rate, and the number of years and click submit. It is very easy to use and to understand. If you have any problems using the calculator, please feel free to give us a call. We would be happy to help you with this experience as most of us have been in your shoes before. You can also visit us at one of our various locations if phone conversations are not your thing. Whatever it is, we are here for you every step of the way and cannot wait to talk with you!
         <br />
         <br />

         <b>Schedule</b><br />
         Monday - Friday: 8 AM - 5PM <br />
         Saturday: 10 AM - 5 PM <br />
         Sunday: Closed

      </p>
    </div>
  </div>
  
