/* You can add global styles to this file, and also import other style files */

@import "./theme";

html,
body {
  height: 100%;
  background-color: #1B5E20;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.blue {
  color: #1B5E20;
}

.green {
  color: #fff;
}

.attribution-link {
  text-decoration: none;
  color: white;
}

.attribution-link:hover {
  text-decoration: underline;
  color: #1A472A;
}

.card-title-icon {
  text-align: center;
}

.card-title-icon,
.mat-icon {
  font-size: 72px;
}

.align-center {
  text-align: center;
}
