<!--
    ========================================================================================================================
    ; Title: interest.component.html
    ; Author: Caitlynne Johnson
    ; Bellevue University
    ; Date: 7/19/23
    ; Description: Capstone project
    ========================================================================================================================
-->

<div>
    <div class="form-entry font-white"> Interest Paid:</div>
    <br /><br /><br /> 
    <div class="form-entry font-white">
        {{ "$" + (interest | number : "1.2-2") }}
    </div>
    <br /><br /><br />
</div>