/*
    ========================================================================================================================
    ; Title: app.component.scss
    ; Author: Caitlynne Johnson
    ; Bellevue University
    ; Date: 7/12/23
    ; Description: App component 
    ========================================================================================================================
 */

 .logo {
    margin-top: 15px;
  }
  
  .main-container {
    padding-top: 25px;
    width: 80%;
    margin: 0 auto;
  }
  