<div fxLayout="column wrap">

    <h2 fxFlex class="green" align="center"> Calculate Your Loan</h2>

    <form>
        <div class="form-group">
            <label for="loanAmount">Loan Amount:</label><br />
            <input type="text" name = "loanAmount" class="form-control">
        </div>
        <br />
        <div class="form-group">
            <label for="interestRate">Interest Rate:</label><br />
            <input type="text" name = "interestRate" class="form-control">
        </div>
        <br />
        <div class="form-group">
            <label for="numbOfYears">Number Of Years:</label><br />
            <input type="text" name = "numbOfYears" class="form-control">
        </div>
        <br />
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    </div>
    